// @font-face {
//     font-family: 'frutigerregular';
//     src: url('/fonts/frutiger/frutiger-webfont.woff2') format('woff2'),
//          url('/fonts/frutiger/frutiger-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     unicode-range: U+41-5A, U+61-7A, U+C0-FF; // eng

// }


// @font-face {
//     font-family: 'db_soda_xregular';
//     src: url('/fonts/Mont/dbsodax-webfont.eot');
//     src: url('/fonts/Mont/dbsodax-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/Mont/dbsodax-webfont.woff') format('woff'),
//          url('/fonts/Mont/Montserrat-Black.ttf') format('truetype'),
//          url('/fonts/Mont/dbsodax-webfont.svg#db_soda_xregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     unicode-range: U+0E00-U+0E7F; // thai
    
// }


// @font-face {
//     font-family: 'Montserrat';
//     src: url('/fonts/Mont/Montserrat-Regular.eot');
//     src: url('/fonts/Mont/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/Mont/Montserrat-Regular.woff2') format('woff2'),
//         url('/fonts/Mont/Montserrat-Regular.woff') format('woff'),
//         url('/fonts/Mont/Montserrat-Regular.ttf') format('truetype'),
//         url('/fonts/Mont/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     // unicode-range: U+41-5A, U+61-7A, U+C0-FF; // eng

// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url('/fonts/Mont/Montserrat-Bold.eot');
//     src: url('/fonts/Mont/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/Mont/Montserrat-Bold.woff2') format('woff2'),
//         url('/fonts/Mont/Montserrat-Bold.woff') format('woff'),
//         url('/fonts/Mont/Montserrat-Bold.ttf') format('truetype'),
//         url('/fonts/Mont/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }


@font-face {
    font-family: 'thaisans';
    src: url('/fonts/Thaisans/thaisansneue-regular-webfont.eot');
    src: url('/fonts/Thaisans/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Thaisans/thaisansneue-regular-webfont.woff2') format('woff2'),
         url('/fonts/Thaisans/thaisansneue-regular-webfont.woff') format('woff'),
         url('/fonts/Thaisans/thaisansneue-regular-webfont.ttf') format('truetype'),
         url('/fonts/Thaisans/thaisansneue-regular-webfont.svg#thaisans_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
    // unicode-range: 'U+0E00-U+0E7F'; // thai

}


@font-face {
    font-family: 'thaisans';
    src: url('/fonts/Thaisans/thaisansneue-bold-webfont.eot');
    src: url('/fonts/Thaisans/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Thaisans/thaisansneue-bold-webfont.woff2') format('woff2'),
         url('/fonts/Thaisans/thaisansneue-bold-webfont.woff') format('woff'),
         url('/fonts/Thaisans/thaisansneue-bold-webfont.ttf') format('truetype'),
         url('/fonts/Thaisans/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'thaisans_neuesemi_bold';
    src: url('/fonts/Thaisans/thaisansneue-semibold-webfont.eot');
    src: url('/fonts/Thaisans/thaisansneue-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Thaisans/thaisansneue-semibold-webfont.woff2') format('woff2'),
         url('/fonts/Thaisans/thaisansneue-semibold-webfont.woff') format('woff'),
         url('/fonts/Thaisans/thaisansneue-semibold-webfont.ttf') format('truetype'),
         url('/fonts/Thaisans/thaisansneue-semibold-webfont.svg#thaisans_neuesemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neuelight';
    src: url('/fonts/Thaisans/thaisansneue-light-webfont.eot');
    src: url('/fonts/Thaisans/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Thaisans/thaisansneue-light-webfont.woff2') format('woff2'),
         url('/fonts/Thaisans/thaisansneue-light-webfont.woff') format('woff'),
         url('/fonts/Thaisans/thaisansneue-light-webfont.ttf') format('truetype'),
         url('/fonts/Thaisans/thaisansneue-light-webfont.svg#thaisans_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}






