@import "./font.scss";
@import "./_variables.scss";


body{
    color: black;
    font-family: Kanit;
    font-weight: lighter;
    font-size: 18px;
    @media (max-width: 767.98px) {
        font-size: 16px;
    }
    // font-family: 'th_sarabun_new','frutigerregular', sans-serif;
}

p{
    margin: 0;
    line-height: unset;
    font-size: 18px;
}

.font-bold{
    font-weight: bold;
}

.header{
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    background-repeat: no-repeat;
    background-size: 100%;
    .navbar{
        left: 0;
        right: 0;
        height: 100px;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        .navbar-toggler{
            // margin-bottom: 30px;
            i{
                color: black;
                font-size: 2rem;
            }
        }
        &.bg-color{
            background-color: $color;
            .navbar-toggler{
                i{
                    color: white;
                }
            }
        }
    }
    .collapse.show{
        +.navbar{
            background-color: $color;
            .navbar-toggler{
                // margin-bottom: 30px;
                i{
                    color: white;
                }
            }
        }
    }
    .logo{
        max-width: 100%;
        width: 75px;
    }
    
    .h-contact{
        color: black;
        background-color: rgba($color: #fff, $alpha: 0.7);
        padding: 12px;
        border-radius: 20px;
        // margin-bottom: 30px;
        &:hover{
            background-color: #fff;
            -moz-box-shadow:    inset 1px 1px 1px 1px #000000;
            -webkit-box-shadow: inset 1px 1px 1px 1px #000000;
            box-shadow: none;
            // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    }
    .header-link{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        // background-color: $color;
        flex-wrap: wrap;
        a{
            color: white;
            padding: 10px;
        }
    }

}

.color-main{
    color: $color;
}


a{
    color: black;
    &:hover{
        color: black;
        text-decoration : none;
    }
}

.footer{
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color;
    .line{
        border-bottom: 1px solid white;
    }
    a{
        padding: 10px;
        color: white;
    }
    .logo{
        width: 50px;
    }
   
}

.highlight{
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
    .text{
       

    }
    .ro{
        position: absolute;
        width: 100%;
        display: flex;
        bottom: 55px;
    }
    .border-r{
        border: 1px solid black;
        width: 50%;
        border-left-color: #fff;
        border-left-width: 4000px; /* Change this value to vary the angle */
        border-top-width: 720px; 
        
    }
}

  .triangle-fluid {
    background: transparent url("http://placekitten.com/g/1200/500") center center;
      background-size: cover;
      overflow: hidden;
  }
  .triangle-container {
      box-sizing: border-box;
      padding: 5%;
      position: relative;
  }
  .triangle {
      background: none;
      border: 0 solid transparent;
      height: 0;
      position: absolute;
      top: 0;
      width: 0;
  }
  .triangle-left {
      border-left-color: #fff;
      border-left-width: 4000px; /* Change this value to vary the angle */
      border-top-width: 720px; /* Change this value to vary the angle */
      left: 0;
  }
  .triangle-right {
      border-right-color: #fff;
    border-right-width: 4000px;
      border-top-width: 720px;
      right: 0;
  }

  .shadow1 {
    -moz-box-shadow:    inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow:         inset 0 0 1px #000000;
 }

 .ag{
     position: relative;
     .detail{
            padding: 5px 10px;
            color: white;
            width: 100%;
            background-color: $color;
            position: absolute;
            bottom: 0;
            display: none;
     }
     &:hover{
        .detail{
            display: block;
        }
     }
     &:focus{
        .detail{
            display: block;
        }
     }
 }

 .btn{
     font-size: 16px;
 }

 .btn.btn-m, .btn-m.disabled {
    box-shadow: none;
    border-radius: 0;
    background-color: $color;
    border-color: $color;
    color: #fff;
    &:hover,&:focus{
        box-shadow: none;
        background-color: $color !important;
        border-color: $color;
    }
}

.btn-dark, .btn-dark.disabled {
    box-shadow: none;
    border-radius: 0;
}

.b-hover{
    cursor: pointer;
    &:hover{
        background-color: $color;
        color: white;
    }
}

.article-overflow{
    height: 55px;
    overflow: hidden;
    width: 100%;
}

.article1{
    img{
        max-height: 300px;
    }
}

$burgerheight:4px;
$burger:#FFF;
$red:#FF5757;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.flex {
//   min-height:100vh;
    // margin-top: 80px;
    height: 100vh;
    float: right;
    width: 300px;
    display:flex;
    // align-items:center;
    justify-content:center;
    background-color: white;
}

.content {
  z-index:9998;
  width:100%;
  opacity:0;
  height:100vh;
  display:block;
  position:fixed;
  right:-100%;
  transition:0.5s ease-out;;
  background-color:rgba($color: #000000, $alpha: 0.25);
  .navigation {
    list-style-type:none;
    padding-left:0px;
    text-align:center;
    font-weight:bold;
    li {
      padding:10px;
      text-align: left;
      line-height: 1.5;
    }
    a {
    //   color:lighten(#121212,25%);
      text-decoration:none;
      position:relative;
      display:inline-block;
      overflow-x:hidden;
      transition:all 0.2s;
      &:before {
        content:'';
        overflow:hidden;
        width:100%;
        position:absolute;
        left:-150%;
        bottom:0px;
        height:3px;
        background-color:$color;
        transition:all 0.3s;
      }
      &:hover {
        color:$color;
        &:before {
          left:0px;
        }
      }
    }
  }
}

.show {
  right:0px;
  opacity:1;
}

.hamburger {
    
    line-height: 0.8;
  background-color:transparent;
  border:0px;
  outline:0px;
  width:50px;
  height:50px;
  position: fixed;
  top:15px;
  right:15px;
  cursor:pointer;
  z-index:9999;
  .burger {
    transition:all 0.3s;
    border-radius:5px;
    height:$burgerheight;
    width:100%;
    display:inline-block;
    background-color:#000000;
  }
}

  .focus {
    .burger {
      transition:all 0.3s;
      &:first-of-type {
        background-color:$red;
        transition-delay:0.4s;
        transform: translate3d(0px, 0px, 0px) rotateZ(45deg);
        width:40px;
        transform-origin:left top;
      }
      &:nth-of-type(2) {
        opacity:0;
      }
      &:last-of-type {
        background-color:$red;
        transition-delay:0.4s;
        transform: translate3d(0px, 0px, 0px) rotateZ(-45deg);
        width:40px;
        transform-origin:left bottom;
      }
    }
  }