body h1 {
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.progressbar {
  counter-reset: step;
  padding: 0;
  counter-increment: step 2547;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  height: 240px;
}

@media (max-width: 991.98px) {
  .progressbar li {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  .progressbar li {
    width: 100%;
    height: auto;
  }
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 60px;
  height: 55px;
  line-height: 50px;
  border: 3px solid #0A4B31;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #fff;
  letter-spacing: 0px;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0A4B31;
  top: 25px;
  left: 0%;
  z-index: -1;
}

.progressbar li:first-child:after {
  right: 0;
  left: 15%;
}

@media (max-width: 768.98px) {
  .progressbar li:first-child:after {
    left: 19%;
  }
}

@media (max-width: 575.98px) {
  .progressbar li:first-child:after {
    left: 0;
  }
}

.progressbar li:last-child:after {
  right: 0;
  left: -15%;
}

@media (max-width: 768.98px) {
  .progressbar li:last-child:after {
    left: -19%;
  }
}

@media (max-width: 575.98px) {
  .progressbar li:last-child:after {
    left: 0;
  }
}

.progressbar li:first-child i {
  position: absolute;
  left: 43px;
  top: 14px;
  font-size: 1.5rem;
}

@media (max-width: 575.98px) {
  .progressbar li:first-child i {
    left: 0;
  }
}

.progressbar li:last-child i {
  position: absolute;
  right: 43px;
  top: 14px;
  font-size: 1.5rem;
}

@media (max-width: 575.98px) {
  .progressbar li:last-child i {
    right: -5px;
  }
}

.progressbar li.active {
  color: #0A4B31;
}

.progressbar li.active:before {
  border-color: #0A4B31;
}

.progressbar li.active + li:after {
  background-color: #0A4B31;
}

.progressbar .detail {
  color: black;
  font-size: 14px;
  text-align: left;
  padding: 10px;
}

.pallex1 {
  min-height: 720px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 991.98px) {
  .pallex1 {
    min-height: 800px;
  }
}

@media (max-width: 575.98px) {
  .pallex1 {
    min-height: 1000px;
  }
}

.project-timeline {
  display: table;
  table-layout: fixed;
  position: relative;
  width: 100%;
  padding-top: 21.5rem;
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #0A4B31 50%, #0A4B31 calc(50% + 1px), transparent calc(50% + 2px), transparent 100%);
}

@media (max-width: 1199.98px) {
  .project-timeline {
    font-size: 16px;
    padding-top: 22.5rem;
  }
}

@media (max-width: 991.98px) {
  .project-timeline {
    padding-top: 28.5rem;
  }
}

.project-timeline:before,
.project-timeline:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1rem;
  width: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #0A4B31;
  border-radius: 100%;
}

.project-timeline:before {
  left: 0;
}

.project-timeline:after {
  right: 0;
}

.project-timeline > .step {
  display: table-cell;
  position: relative;
  text-align: center;
  height: 10rem;
}

.project-timeline > .step:before {
  content: "";
  display: block;
  height: 2rem;
  width: 2px;
  background: #0A4B31;
  margin: 0 auto;
}

.project-timeline > .step:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background: #0A4B31;
}

.project-timeline > .step > .number {
  background: #fff;
  display: flex;
  justify-content: center;
}

.project-timeline > .step > .number .circle {
  padding: 6px;
  border: 2px solid #0A4B31;
  border-radius: 100%;
}

.project-timeline > .step > .content-timeline {
  width: 140%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  text-align: center;
}

.project-timeline > .step:nth-of-type(2n + 1) {
  -webkit-transform: rotateZ(180deg) translateY(100%);
          transform: rotateZ(180deg) translateY(100%);
}

.project-timeline > .step:nth-of-type(2n + 1) > .number {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.project-timeline > .step:nth-of-type(2n + 1) > .content-timeline {
  -webkit-transform: rotateZ(180deg) translateX(20%);
          transform: rotateZ(180deg) translateX(20%);
}

@media screen and (max-width: 991px) {
  .project-timeline {
    -webkit-transform: rotateZ(90deg) translateX(20%);
            transform: rotateZ(90deg) translateX(20%);
  }

  .project-timeline > .step > .number {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .project-timeline > .step > .content-timeline {
    -webkit-transform: rotate(-90deg) translateY(-3rem) translateX(-3rem);
            transform: rotate(-90deg) translateY(-3rem) translateX(-3rem);
    text-align: right;
    width: 8rem;
  }

  .project-timeline > .step:nth-of-type(2n + 1) > .number {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .project-timeline > .step:nth-of-type(2n + 1) > .content-timeline {
    -webkit-transform: rotate(90deg) translateY(3rem) translateX(4rem);
            transform: rotate(90deg) translateY(3rem) translateX(4rem);
    text-align: left;
    width: 8rem;
  }
}

