.contact .head {
  color: #0A4B31;
  margin-top: 20px;
}

.contact .b-box {
  display: flex;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .contact .b-box {
    flex-direction: column;
    align-items: center;
  }
}

.contact .box-l {
  padding: 10px 20px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.contact .box-l .img {
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.contact .box-l .img img {
  max-width: 100%;
}

.contact .box-l .head {
  margin-top: 10px;
  color: #0A4B31;
}

.contact .box-l .text {
  color: black;
  margin-top: 10px;
  max-width: 250px;
}

.contact .box-l:nth-child(2) {
  border-right: 2px solid #0A4B31;
  border-left: 2px solid #0A4B31;
}

@media (max-width: 767.98px) {
  .contact .box-l {
    margin: 0px;
  }

  .contact .box-l:nth-child(2) {
    border-right: unset;
    border-left: unset;
  }
}

.contact a:hover {
  text-decoration: none;
}

.support {
  padding: 30px 0px;
  max-width: 500px;
  margin: auto;
}

.form-control.select-new {
  background-color: unset;
}

.form-control.new {
  background-color: white;
}

#btn-none-focus button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.t-font {
  line-height: 1;
}

